---
export const prerender = true;
import GenericImageGrid from '../components/GenericImageGrid.astro';
import Layout from '../layouts/Layout.astro';
import { persistentAtom } from '@nanostores/persistent'
const imageStore = JSON.parse(persistentAtom('images').get());
---

<Layout title="Homepage">
	<main>
		<ul role="list" class="link-card-grid">
            <GenericImageGrid images={imageStore}></GenericImageGrid>
		</ul>
	</main>
</Layout>

<style>

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
