---
import ImageGrid from '../components/imageGrid.astro';
import Layout from '../layouts/Layout.astro';

let imageGridData: { id: string; url: string; }[] = [];
const userData = await fetch(`https://graph.instagram.com/me/media?fields=id,caption,media_url&access_token=${import.meta.env.ACCESS_TOKEN}`).then(function(response) {
return response.json();
}).then(function(data) {
    const imageData = data.data;
    for (const entry in imageData) {
        imageGridData.push({ id: imageData[entry].id, url: imageData[entry].media_url});
    }
});
---

<Layout title="Homepage">
	<main>
		<ul role="list" class="link-card-grid">
            <ImageGrid images={imageGridData}></ImageGrid>
		</ul>
	</main>
</Layout>

<style>

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
