---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="flex group bg-[white] bg-none bg-[400%] bg-[100%] transition-[background-position] duration-[0.6s] ease-[cubic-bezier(0.22,1,0.36,1)] shadow-[0_4px_6px_-1px_rgba(0,0,0,0.1),0_2px_4px_-2px_rgba(0,0,0,0.1)] p-1 rounded-[0.6rem] hover:bg-[0] hover:bg-[image:var(--accent-gradient)] ">
	<a href={href} class="w-full no-underline leading-[1.4] text-[#111] bg-[white] opacity-80 px-[1.3rem] py-4 rounded-[0.35rem]">
		<h2 class="m-0 group:hover:text-[rgb(var(--accent))]">
			{title}
			<span>&rarr;</span>
		</h2>
		<p class="mt-1">
			{body}
		</p>
	</a>
</li>