---
export interface Props {
images: { id: string; url: string; }[];
}

import { Image } from '@astrojs/image/components';
const { images } = Astro.props;
---

<div class="w-3/4 mx-auto lg:columns-3 bg-grey-100 sm:columns-2">
    {images.length
    ? images.map((item: any, index: number) => {
    return (
    <a href={`/posts/${item.id}`}>
        <div class="cursor-pointer gap-[5px] inline-block w-full group">
            <figure class={`relative h-64 ${index % 2 == 0 ? "md:h-96" : "md:h-64"} w-full hidden md:block mb-3 sm:mb-0 mr-6 border border-gray-100 overflow-hidden rounded-lg transform group-hover:translate-x-0 group-hover:shadow group-hover:translate-y-0 transition duration-700 ease-out overflow-hidden`}>
            <div class="absolute w-full h-full object-cover rounded-lg transform group-hover:scale-105 transition duration-700 ease-out cursor-pointer">
                <img alt="nature photo" class="rounded-lg h-full w-full object-cover" src={item.url} />
            </div>
            </figure>
        </div>
    </a>
    );
    })
    : null}
</div>