---
export interface Props {
images: { id: string; url: string; }[];
}

import { Image, getImage } from 'astro:assets';
import { getImage } from "astro:assets";
import { generateCloudinaryUrl } from './imgUrlGen.js';
const { images } = Astro.props;

---

<div class="w-full max-w-[1440px] mx-auto columns-1 sm:columns-2 lg:columns-3">
    {images.length
    ? images.map((item: any, index: number) => {
    return (
    <a href={`/posts/${item.id}`}>
        <div class="cursor-pointer inline-block w-full group">
            <figure class={`relative h-64 ${index % 2 == 0 ? "md:h-96" : "md:h-64"} w-full md:block mb-3 sm:mb-0 mr-3 border border-gray-100 overflow-hidden rounded-lg transform group-hover:translate-x-0 group-hover:shadow group-hover:translate-y-0 transition duration-700 ease-out overflow-hidden`}>
            <div class="absolute w-full h-full object-cover rounded-lg transform group-hover:scale-105 transition duration-700 ease-out cursor-pointer" set:html={generateCloudinaryUrl(item, index, 500)}>
            </div>
            </figure>
        </div>
    </a>
    );
    })
    : null}
</div>